<!doctype html>
<html class="no-js" lang="en">
                                <head>
{% load staticfiles %}
{% load category_menu %}
{% load thumbnail %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title></title>
<link rel="stylesheet" href="{% static 'css/footer.css' %}"> 
<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}"> 
<link rel="stylesheet" href="{% static 'css/header.css' %}"> 
<link rel="stylesheet" href="{% static 'css/base.css' %}"> 
<link rel="stylesheet" href="{% static 'bower_components/foundation-icon-fonts/foundation-icons.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/foundation/css/normalize.css' %}"> 
</head>
<body>
<div class="row box-shadow">
 <div class="orange-top">   
  <div style="font-size:13px; text-transform:uppercase;" class="large-6 columns">г. Москва ул. Горчякова-Горбунова, д2. тел: 200-300-52</div>
  <div class="large-6 columns" style="text-align:right; float:right;"><span class="fi-shopping-cart"> <a href="/basket/">Cart </span>: <span id="basket_counter"> 0 </span></div>
  <div style="clear:both;"></div>
  </div>
<header class="header">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">
        <a href="/">
          <img src="{% static 'logo.png' %}" /> 
        </a>
        </p>
      <p class="slogan">ZooShop.ru</p>
      <p class="links">
            {% category_menu as cm %}
                {% for i in cm %}
                    <a href="/category/{{i.slug}}/"><span>{{ i.title }}</span></a>
                {% endfor %}
                <a href>Оплата и доставка</a>
      </p>
    </div>
  </div>
</header>
<br/>
<hr/>
<br/>

    <br/>
    <div class="column large-2 sidebar">
            <h5 style="display:none;"> {{ data.category.title}} </h5>
        <ul style="font-size:14px;" class="menu vertical">
          {% for i in data.menu %} 
              <li onclick="$(this).toggleClass('active');" style="">
                <a>{{i.item.title}}</a>
                {% if i.children|length > 0 %}
                    <ul class="sub">
                      {% for sub in i.children %} 
                      <li><a href="/category/{{sub.item.slug}}/">{{sub.item.title}}</a></li>
                      {% endfor %}
                    </ul>
                {% endif %}
          {% endfor %}
        </ul>
    </div>
    <div class="column large-10">
        {% block content %} 
        {% endblock %}
    </div>
<br/>
<br/>
<br/>
<hr/>
<br/>
<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">А это подвал сайта</p>
      <p class="links">
        <a href="#">Главная</a>
        <a href="#">Оплата и доставка</a>
        <a href="#">Контакты</a>
      </p>
      <p class="copywrite">Copywrite not copypwrite © 2015</p>
    </div>
  </div>
</footer>
</div>


<script src="{% static 'bower_components/foundation/js/vendor/jquery.js' %}"> </script> 
<!-- <script src="{% static 'bower_components/foundation/js/foundation.js' %}"> </script> --> 
<script src="{% static 'js/foundation.js' %}"> </script> 
<script src="{% static 'js/basket.js' %}"> </script> 
<script src="{% static 'bower_components/slidejs3/source/jquery.slides.js' %}"> </script> 
<script src="{% static 'js/ready.js' %}"> </script> 
<script>
      $(document).foundation();
    </script>
</body>
</html>
