{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block slider %} 
{% endblock %}
{% block content %} 
<!--
<div class="row small-up-2 large-up-4">
-->


				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-4">
							<div class="view-product">
                                <img src="{{ data.product.photo.url }}" />
							</div>
						</div>
						<div class="col-sm-8">
							<div class="product-information"><!--/product-information-->
								<h2>{{ data.product.title}}</h2>
                                <!--
								<p>Web ID: 1089772</p>
								<img src="images/product-details/rating.png" alt="" />
                                -->
								<span>
									<span>{{data.product.price}} руб.</span>
                                    <!--
									<label>Quantity:</label>
									<input type="text" value="3" />
                                    -->
									<button 
                                        onclick="basket.add_item({{item.id}},1); return false;"
                                        type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										 В корзину
									</button>
								</span>
                                <!-- 
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
                                --> 
                                <p><b>Описание: </b> {{data.product.description}} </p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
                </div>
{% endblock %}
