.sidebar ul li a:hover {
    background-color:#efefef;
     transition: background-color 0.3s ease-out;
    border-radius:10px;
}


.sidebar ul li a {
    background-color:transparent;
     transition: background-color 1.3s ease-out;
}
