.sidebar ul li a:hover {
    background-color:#efefef;
     transition: background-color 0.3s ease-out;
    border-radius:10px;
}

.sidebar ul li.active > a {
    background-color:#efefef;
     transition: background-color 0.3s ease-out;
    border-radius:10px;
}


.sidebar ul li a {
    background-color:transparent;
    transition: background-color 1.3s ease-out;
}


.sidebar ul li ul.sub {
    max-height: 0px;
    overflow:hidden;
    transition: max-height 1.3s;
}
.sidebar > ul > li > a {
    font-weight:bold; text-transform:uppercase;
}

.sidebar ul li.active ul.sub {
    max-height: 1000px;
    transition: max-height 1.3s;
}

.box-shadow {
    -webkit-box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.75);
}

.box-shadow .orange-top {
    position:relative;
    left:-10px;
    top:20px;
    margin-right:-20px;
    padding-top:20px;
    padding-bottom:20px;
    background-color:deeppink;
    color:#fff;
    font-weight:bold;
}

.orange-top:before, .orange-top:after {
       content: '';
       position: absolute;
       border-style: solid;
       border-color: transparent;
       bottom: -10px;
}
.orange-top:before {
       border-width: 0 10px 10px 0;
       border-right-color: deeppink;
       left: 0;
}
.orange-top:after {
       border-width: 0 0 10px 10px;
       border-left-color: deeppink;
       right: 0;
}

.slidesjs-navigation {
    float:left;
}

a.slidesjs-next, a.slidesjs-previous { 
    display:none;
}


.slidesjs-pagination-item {
 float:right;
}
.slidesjs-pagination {
    list-style:none;
}
.slidesjs-pagination-item a {
    color:#fff;
    float:right;
    margin-right:10px;
    font-size:0px;
}


.slidesjs-pagination-item a:after {
    font-size:16px;
  color:deeppink;
  font-family: "foundation-icons";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  content: "\f123";
}
